@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Gig.Artist</h2>
@{ 
    <br />
    <text>
        Performing at @Model.Gig.Venue on moment(@Model.Gig.DateTime).format("d MMM yyyy HH:mm")
    <br />
</text>
    }