@model GigHub.Models.Gig
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Artist</h2>
@{ 
    <br />
    <text>
        Performing at @Model.Venue on moment(@Model.DateTime).format("d MMM yyyy HH:mm")
    <br />
if(@Model.Attendances){

You are goging to this event.
}


</text>
    }